@import 'Nav/Nav.scss';
@import 'intro/Intro.scss';
@import 'hmeheader/hmeheader.scss';
@import '3D/3D.scss';
@import 'Studio/Studio.scss';
@import 'Footer/Footer.scss';
@import 'Card/Card.scss';
@import 'Label/Label.scss';
@import 'Contacts/Contacts.scss';
@import 'Beat/Beat.scss';



@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Chunky;
    src: url(../media/fonts/Chunky_Funks.otf);
}

* {
    font-family: Chunky;
}

body {
    @apply p-0 box-border
}
